/* ------- Add Course Section Classes ------- */


/* Small Screens */

.paqc-add-course-section-wrapper {
    padding: 1rem 0rem 1rem 1.7rem;
}

.paqc-add-course-section-wrapper .paqc-icon i {
    padding-top: 0.15rem;
}

.paqc-add-course-title {
    display: none;
    align-self: center;
}

.paqc-add-course-title h3 {
    margin: 0;
}

.paqc-add-course-input-wrapper input {
    margin: 0 !important;
}

.paqc-add-course-input-wrapper a {
    color: #17a2b8;
}

.paqc-add-course-input-wrapper a:hover {
    color: #0d5c68;
}


/* Medium Screens */

@media (min-width: 768px) {
    .paqc-add-course-section-wrapper {
        padding-left: 1.3rem;
    }
}


/* Large Screens */

@media (min-width: 1200px) {
    .paqc-add-course-title {
        display: block;
    }
}


/* ------- Course Info Classes ------- */


/* Small Screens */

.paqc-course-content-wrapper {
    background-color: #efeeee;
    border: 1px solid #cccccc;
    margin-bottom: 0.25rem;
}

.paqc-course-top-color {
    height: auto;
    width: 13px;
}

.paqc-course-info-content {
    padding: 1.5rem 0rem 1.5rem 0.8rem;
}

.paqc-course-link a {
    text-decoration: none;
    color: #333333;
}

.paqc-course-link a:hover,
.paqc-course-link a:hover i,
.paqc-course-link a:hover h4 {
    color: #636363;
}

.paqc-course-link .paqc-icon {
    padding-left: 0;
}

.paqc-course-info-content h3 {
    margin-bottom: 0.3rem;
}

.paqc-course-info-primary h4,
.paqc-course-info-secondary h4 {
    color: #999999;
    margin: 0;
}

.paqc-course-info-primary h4 {
    padding: 0rem 0.5rem;
    border-right: 1px solid #cccccc;
}

.paqc-course-info-secondary h4 {
    padding: 0 0.8rem;
    margin: 0;
    border-right: 1px solid #cccccc;
}

.paqc-course-info-secondary {
    display: none;
}

.paqc-course-icon-trash {
    min-width: 35px;
    max-width: 35px;
    text-align: center;
}

.paqc-timeline-info-tab {
    margin-top: 2.5rem;
}


/* Medium Screens */

@media (min-width: 768px) {
    .paqc-course-top-color {
        height: 15px;
        width: 100%;
    }
    .course-info-content {
        padding-top: 1.2rem;
    }
    .paqc-course-link .paqc-icon {
        padding-left: 0.5rem;
    }
}


/* Large Screens */

@media (min-width: 1200px) {
    .paqc-course-info-secondary {
        display: block;
        align-self: center;
    }
    .paqc-course-info-secondary .row {
        justify-content: center;
    }
}