/* ------- Modules Navbar Classes ------- */


/* Small Screens */

.paqc-modules-navbar,
.paqc-topics-navbar {
    padding: 0;
    width: 100%;
}

.paqc-toggle-wrapper {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 1rem 0.5rem 1.7rem;
    border-bottom: 2px solid #1b98a5;
}

.paqc-toggle-wrapper .navbar-brand {
    font-weight: 300;
}

.paqc-module-buttons-wrapper .nav {
    width: 100%;
}

.paqc-module-btn {
    position: relative;
}

.paqc-module-buttons-wrapper .paqc-module-btn .nav-link:link {
    font-weight: 200;
    color: #dbdbdb;
    display: flex;
    flex: auto;
    border-top: 1px solid #45b5c6 !important;
    border-bottom: 1px solid #1f99aa !important;
    padding: 1rem 0.5rem 1rem 1.7rem;
    border-radius: 0;
}

.paqc-module-buttons-wrapper .paqc-module-btn .nav-link:hover {
    background-color: #0d5c68;
}

.paqc-module-buttons-wrapper .paqc-module-btn .nav-link.active {
    font-weight: 400;
    border-radius: 0;
}

.paqc-module-buttons-wrapper .paqc-icon {
    color: #dbdbdb;
    padding: 0;
}

.paqc-module-buttons-wrapper i {
    margin-right: 0.5rem;
}

.paqc-module-btn .paqc-icon:active {
    color: #0d5c68 !important;
}

.paqc-editor-icon-trash {
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
}

.paqc-editor-icon-trash a {
    color: #c6c6c6;
}


/* ------- Topics Navbar Classes ------- */

.paqc-topics-buttons-wrapper .paqc-content-wrapper {
    padding: 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid #cccccc;
}

.paqc-topics-content,
.paqc-topics-content:hover,
.paqc-topics-tab,
.paqc-topics-tab:hover {
    background-color: #efeeee !important;
}

.paqc-topics-tab .nav-link,
.paqc-topics-tab a {
    padding: 1rem 1.7rem;
    border-radius: 0;
    color: #808080;
}

.paqc-topics-buttons {
    border-bottom: 1px solid #cccccc;
}

.paqc-topics-buttons a {
    width: 100%;
    border-bottom: 1px solid #cccccc;
}

.paqc-topics-tab a:hover {
    background-color: #c1c1c1;
    color: #808080;
}

.paqc-topics-content {
    padding: 2.5rem;
}

.paqc-add-topic-button {
    width: 100%;
}

.paqc-add-topic-button.paqc-icon {
    padding: 0;
}

.paqc-add-topic-button a {
    padding: 0.7rem 1rem;
    border: none;
    text-decoration: none;
    display: flex;
}

.paqc-add-topic-button a:hover {
    background-color: #c1c1c1;
}

.paqc-add-topic-button i {
    margin-right: 10px;
}

.paqc-add-topic-button p {
    align-self: center;
}


/* Medium Screens */

@media (min-width: 768px) {
    .paqc-toggle-wrapper {
        display: none;
    }
    .paqc-topics-buttons-wrapper .paqc-content-wrapper {
        border: 1px solid #cccccc;
        border-bottom: 2px solid #45b5c6;
    }
    .paqc-topics-buttons {
        border: none;
    }
    .paqc-topics-buttons {
        border-bottom: 1px solid #cccccc;
    }
    .paqc-topics-buttons a {
        width: auto;
        display: block;
        border: none;
    }
    .paqc-add-topic-button {
        width: auto;
    }
    .paqc-add-topic-button a {
        padding: 0;
    }
    .paqc-add-topic-button p {
        display: none;
    }
}